body {background-color:yellow;font-family:arial;color:white}
h1{color:black;font-family:verdana}

.maindiv{
    background-color: dodgerblue;
    color: whitesmoke;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
